* {
    box-sizing: border-box;
    font-family: 'Silkscreen', cursive;
}
body {
    width: 100%;
    height: 100vh;
    background-color: lightskyblue;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    width: 100%;
    height: 110px;
}
nav {
    width: 100%;
    padding: 10px;
    font-size: 70px;
    color: darkblue;
    font-weight: bolder;
}
main {
    width: 100%;
    height: calc( 100vh - 110px);
    position: relative;
}
section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: lightskyblue;
}

.s1 {
    z-index: 30;
    flex-direction: column;
}
.s1 h1 {
    color: blue;
    font-size: 50px;
    display: flex;
    justify-content: center;
}
.s1 h3 {
    color: rgb(33, 54, 247);
    font-size: 30px;
    text-align: center;
    margin-bottom: 80px;
}
.s1 .start {
    width: 200px;
    height: 80px;
    color: darkblue;
    font-size: 40px;
    cursor: pointer;
    border: 3px dashed darkblue;
    position: relative;
    overflow: hidden;
    font-weight: 300;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    letter-spacing: 1px;
    border-radius: 8px;
}
.text {
    color: white;
    position: absolute;
    width: 101%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.start button {
    font-size: 40px;
    width: 101%;
    height: 100%;
    font-weight: 300;
    letter-spacing: 1px;
    font-weight: bold;
    background: rgb(153, 214, 252);
    -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
    mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
    -webkit-mask-size: 3000% 100%;
    mask-size: 3000% 100%;
    border: none;
    color: darkblue;
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(29) forwards;
    animation: ani2 0.7s steps(29) forwards;
}

.start:hover {
    border-color: white;
}

.start button:hover {
    -webkit-animation: ani 0.7s steps(29) forwards;
    animation: ani 0.7s steps(29) forwards;
}

.s2 {
    z-index: 20;
}
.score , .time{
    width: 300px;
    height: 450px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.score {
    color: yellow;
}
.time {
    color: orangered;
}

.title {
    font-size: 50px;
    margin-bottom: 25px;
}
.num {
    font-size: 40px;
    font-weight: bold;
}
#countdown {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.mid-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box {
    width: 500px;
    height: 500px;
    padding: 10px;
    margin: 0px 100px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border: 2px white solid;
    border-radius: 10px;
    cursor:pointer;
}
.innerbox {
    width: 50%;
    height: 50%;
    border: 5px white solid;
    border-radius: 10px;
}
.answer-box {
    opacity: 0.5;
}
.restart {
    height: 40px;
    width: 100px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(153, 214, 252);
    color: gray;
    font-size: 18px;
    border-color: gray;
    cursor: pointer;
}
.score-none , .time-none {
    display: none;
    flex-flow: row nowrap;
}

.s3 {
    z-index: 10;
    flex-direction: column;
}
.s3 h2 {
    font-size: 45px;
    color: blueviolet;
}
.s3 h3 {
    font-size: 35px;
    color: rgb(147, 56, 233);
}
.s3 .btn {
    width: 400px;
    height: 60px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.s3 #back , .s3 .author{
    height: 50px;
    width: 100px;
    color: darkblue;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(153, 214, 252);
    border: 2px dashed darkblue;
    border-radius: 10px;
}
.s3 #back {
    cursor: pointer;
    margin-right: 20px;
}
.s3 .author {
    text-decoration: none;
    margin-left: 20px;
}
#back:hover {
    background-image: linear-gradient(90deg, #00C0FF 0%, #2fb3ff 49%, #70a9ff 80%, #00C0FF 100%);
    animation: slidebg 5s linear infinite;
}
.author:hover {
    background-image: linear-gradient(-90deg, #00C0FF 0%, #2fb3ff 49%, #70a9ff 80%, #00C0FF 100%);
    animation: slidebg 5s linear infinite;
}

footer {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.link {
    color: gray;
    font-size: 20px;
    text-decoration: none;
}
.fa-copyright {
    margin-right: 10px;
}

/* ---------- classList.add ----------- */

.z40 {
    z-index: 40;
    animation: moveFont 0.75s ;
}
.z45 {
    z-index: 45;
    background-color: rgba(0, 0, 0, 0.87);
}
.z50 {
    z-index: 50;
    animation: moveFont 1s ;
}
.red {
    color:red;
}
.red-none {
    color:red;
}
.shake {
    animation: shake 0.35s infinite;
}
.shake-none {
    animation: shake 0.35s infinite;
}

/* ---------- animation ----------- */

@-webkit-keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}   

@keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}

@-webkit-keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}

@keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}

@-webkit-keyframes moveFont {
    from {
    -webkit-transform: scale(0%);
    }
    to {
    -webkit-transform: scale(100%);
    }
}

@keyframes moveFont {
    from {
    -webkit-transform: scale(0%);
            transform: scale(0%);
    }
    to {
    -webkit-transform: scale(100%);
            transform: scale(100%);
    }
}

@keyframes shake {
    25% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
    }
    50%,
    100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    }
    75% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
    }
}

@keyframes slidebg {
    to {
        background-position:20vw;
    }
}
/* ---------- alert ----------- */

#modalContainer {
    background-color:rgba(0, 0, 0, 0.5);
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    left:0px;
    z-index:99;
}
    
#alertBox {
    position:relative;
    width:30%;
    min-height:100px;
    max-height:400px;
    margin-top:50px;
    border:1px solid white;
    border-radius: 10px;
    background-color:white;
    background-repeat:no-repeat;
    top:30%;
}
    
#modalContainer > #alertBox {
    position:fixed;
}
    
#alertBox h1 {
    margin:0;
    background-color:darkorange;
    color:white;
    border-bottom:1px solid darkorange;
    border-radius: 10px 10px 0px 0px;
    padding:10px 0 10px 5px;
}
    
#alertBox p {
    height:50px;
    font-size: 30px;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
#alertBox #closeBtn {
    display:block;
    position:relative;
    margin:10px auto 10px auto;
    padding:7px;
    border:0 none;
    width:70px;
    text-transform:uppercase;
    text-align:center;
    color:white;
    background-color: darkorange;
    border-radius: 0px;
    text-decoration:none;
    outline:0!important;
}

/* ---------- RWD ----------- */
@media (max-width: 1300px)  {
    .s1 h1 {
        font-size: 40px;
        transition: 0.5s linear;
    }
    .s1 h3 {
        font-size: 25px;
        margin-bottom: 70px;
        transition: 0.5s linear;
    }
    .s1 .start {
        width: 160px;
        height: 70px;
        font-size: 30px;
    }
    .start button {
        font-size: 30px;
    }
    .score , .time{
        width: 250px;
        height: 400px;
        padding: 40px;
        transition: 0.5s linear;
    }
    .title {
        font-size: 40px;
        transition: 0.5s linear;
    }
    .num {
        font-size: 30px;
        transition: 0.5s linear;
    }
    #countdown {
        width: 250px;
        transition: 0.5s linear;
    }
    .box {
        width: 450px;
        height: 450px;
        margin: 0px 50px;
        transition: 0.5s linear;
    }
}

@media (max-width: 1100px)  {
    nav {
        font-size: 50px;
        transition: 0.5s linear;
    }
    .s1 h1 {
        font-size: 35px;
    }
    .s1 h3 {
        font-size: 20px;
        margin-bottom: 60px;
    }
    .s1 .start {
        width: 140px;
        height: 60px;
        font-size: 25px;
    }
    .start button {
        font-size: 25px;
    }
    .score , .time{
        width: 200px;
        height: 350px;
        padding: 30px;
    }
    .title {
        font-size: 30px;
    }
    .num {
        font-size: 25px;
    }
    #countdown {
        width: 200px;
    }
    .box {
        width: 400px;
        height: 400px;
        margin: 0px 50px;
    }
    .restart {
        height: 30px;
        width: 90px;
        margin-top: 30px;
        font-size: 16px;
        transition: 0.5s linear;
    }
}

@media (max-width: 900px)  {
    .s1 h1 {
        font-size: 30px;
    }
    .s1 h3 {
        font-size: 18px;
        margin-bottom: 50px;
    }
    .s1 .start {
        width: 120px;
        height: 50px;
        font-size: 18px;
    }
    .start button {
        font-size: 18px;
    }
    .score , .time{
        width: 150px;
        height: 300px;
        padding: 25px;
    }
    .title {
        font-size: 25px;
    }
    .num {
        font-size: 20px;
    }
    #countdown {
        width: 150px;
    }
    .box {
        width: 375px;
        height: 375px;
        margin: 0px 25px;
    }
    .s3 h2 {
        font-size: 35px;
        transition: 0.5s linear;
    }
    .s3 h3 {
        font-size: 23px;
        transition: 0.5s linear;
    }
    .s3 .btn {
        width: 300px;
        height: 50px;
        transition: 0.5s linear;
    }
    .s3 #back , .s3 .author{
        height: 40px;
        width: 80px;
        font-size: 16px;
        font-weight: 400;
        transition: 0.5s linear;
    }
}

@media (max-width: 750px)  {
    nav {
        font-size: 40px;
    }
    .s1 h1 {
        font-size: 25px;
    }
    .s1 h3 {
        font-size: 16px;
        margin-bottom: 40px;
    }
    .s1 .start {
        width: 100px;
        height: 40px;
        font-size: 16px;
    }
    .start button {
        font-size: 16px;
    }
    .score , .time{
        width: 125px;
        height: 250px;
        padding: 25px;
    }
    .title {
        font-size: 22px;
    }
    .num {
        font-size: 18px;
    }
    #countdown {
        width: 125px;
    }
    .box {
        width: 350px;
        height: 350px;
        margin: 0px 20px;
    }
}
    
@media (max-width: 650px) {
    nav {
        font-size: 35px;
    }
    .s1 h1 {
        font-size: 25px;
    }
    .s1 h3 {
        width: 500px;
        font-size: 16px;
        margin-bottom: 40px;
    }
    .s1 .start {
        width: 100px;
        height: 40px;
        font-size: 16px;
    }
    .start button {
        font-size: 16px;
    }
    .s2 {
        flex-direction: column;
    }
    .score , .time{
        width: 250px;
        height: 70px;
    }
    .score-rwd , .time-rwd {
        display: none;
    }
    .score-none , .time-none {
        display: flex;
    }
    .title {
        font-size: 22px;
        margin-bottom: 0px;
        margin-right: 10px;
    }
    .num {
        font-size: 18px;
    }
    #countdown {
        width: 125px;
    }
    .box {
        width: 350px;
        height: 350px;
        margin: 20px 0px 0px 0px;
    }
    #alertBox {
        position: relative;
        width: 60%;
        top: 30%;
    }
}

@media (max-width: 500px) {
    nav {
        font-size: 30px;
    }
    .s1 h1 {
        font-size: 22px;
    }
    .s1 h3 {
        width: 400px;
        font-size: 15px;
        margin-bottom: 40px;
    }
    .s1 .start {
        width: 80px;
        height: 35px;
        font-size: 16px;
    }
    .start button {
        font-size: 16px;
    }
}

@media (max-width: 430px) {
    nav {
        font-size: 25px;
    }
    .s1 h1 {
        font-size: 20px;
    }
    .s1 h3 {
        width: 350px;
        font-size: 14px;
        margin-bottom: 35px;
    }
    .s1 .start {
        width: 80px;
        height: 35px;
        font-size: 15px;
    }
    .start button {
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    nav {
        font-size: 20px;
    }
    .s1 h1 {
        font-size: 16px;
    }
    .s1 h3 {
        width: 275px;
        font-size: 12px;
        margin-bottom: 30px;
    }
    .s1 .start {
        width: 70px;
        height: 30px;
        font-size: 13px;
    }
    .start button {
        font-size: 13px;
    }
    .s3 h2 {
        font-size: 28px;
    }
    .s3 h3 {
        font-size: 20px;
    }
    .s3 .btn {
        width: 275px;
        height: 50px;
    }
    .s3 #back , .s3 .author{
        height: 40px;
        width: 80px;
        font-size: 15px;
        font-weight: 400;
    }
}